
body {
    background-color: #F9F9F9;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    background-color: #E9E9E9;
    margin: auto;
    width: 600px;

    box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    overflow: hidden;
}

.header {
    padding: 2.2rem;
}

.flex-container {
    display: flex;
    justify-content: space-around;
}

.header-title {
    color: #006F6F;
    font-size: 1.95rem;
    justify-content: center;
    font-weight: 700;
    margin-bottom: 1.2rem;
}

.header-descr {
    color: #009E9E;
    font-weight: 500;
    font-size: 1.12rem;
    margin-bottom: 0.9rem;
}

.col-1 {
    background-color: #006A6A;
    color: #FFF;
    width: 50%;
    padding: 1.2rem;
}

.subscr-title {
    font-size: 1.12rem;
    font-weight: 400;
    text-align: center;
    padding-bottom: 1.1rem;
}

.preco {
    font-weight: 700;
    font-size: 1.62rem;
}

.mes {
    font-size: 0.9rem;
    font-style: italic;
    margin-left: 0.6rem;
    margin-bottom: 1.2rem;
}

.btn {
    width: 100%;
    padding: 1rem 2rem;
    color: #006A6A;
    font-size: 1rem;
    margin: 2rem 0px 1rem 0px;
    border: none;
    border-radius: 5px;
    overflow: hidden;
    background-color: #f3f2f2;

    cursor: pointer;
}

.btn:hover {
    background-color: #CCCCCC;
}

.col-2 {
    background-color: #009E9E;
    width: 50%;
    padding: 0.6rem 1.2rem;
    color: #FFFFFF;
    font-size: 0.95rem;
}
.img-group
{
    text-align: center;
}

@media screen and (max-width: 620px) {
    html{
        font-size: 14px;
    }

    .flex-container
    {
        flex-direction: column;
    }

    .col-1,.col-2
    {
        width: 100%;
        box-sizing: border-box;
    }

    .container{
        width: 95%;
    }

}